html,
body {
  height: 100%;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 64px;
  font-family: 'Markazi Text', serif;
}

h2 {
  font-size: 40px;
  font-family: 'Markazi Text', serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 26px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #f4ce14;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 1px 2px 1px #00000052;
}

button:hover {
  background: #c3a40d;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.align-stretch {
  align-items: stretch;
}
